snippet set [setUp]
	def setUp(self):
		${1:pass}
snippet setUp
	def setUp(self):
		${1:pass}
snippet uni
	def __unicode__(self):
		return self.
snippet fixture
	@pytest.fixture
	def ${1:fixture}(${2}):
		${3:pass}
