[submodule "bundles/Command-T"]
	path = bundles/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundles/fugitive"]
	path = bundles/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/wikipedia"]
	path = bundle/wikipedia
	url = https://github.com/nkvorn/vim-wikipedia.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/rest"]
	path = bundle/rest
	url = https://github.com/vim-scripts/rest.vim.git
