[submodule "bundles/Command-T"]
	path = bundles/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundles/fugitive"]
	path = bundles/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/wikipedia"]
	path = bundle/wikipedia
	url = https://github.com/nkvorn/vim-wikipedia.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/rest"]
	path = bundle/rest
	url = https://github.com/vim-scripts/rest.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/jasmine"]
	path = bundle/jasmine
	url = https://github.com/claco/jasmine.vim
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/django"]
	path = bundle/django
	url = https://github.com/vim-scripts/django.vim
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = https://github.com/andersjanmyr/nginx-vim-syntax
