[submodule "bundles/Command-T"]
	path = bundles/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundles/fugitive"]
	path = bundles/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/wikipedia"]
	path = bundle/wikipedia
	url = https://github.com/nkvorn/vim-wikipedia.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
